<!doctype html>
<html>
  <head>
    <meta name="description" content="practice site for applying my knowledge">
    <meta name="author" content="Keith Michael Kreider">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>A New Hope</title>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
    <link href='normalize.css' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    <script>

    </script>
  </head>
  <body>
    <div class="container">
    <header>
      <a id="ham" href="#footLink">&#9776</a>
      <nav><a href="http://theironyard.com"><img id="rebel" src="/Images/REBEL_LEGION.jpg"></a></nav>
    </header>
    <aside>
      <nav id="star"><a href="http://www.starwars.com/databank/rebel-alliance">the rebel alliance | endor</a></nav>
      <p id="base"> The Alliance to Restore the Republic (commonly known as the Rebel Alliance, and, informally, as the Rebellion) is an interstellar faction of the fictional universe of Star Wars.</p>
      <form>
        Search: <br> <br>
        <input type="search" name="googlesearch">
      </form>
    </aside>
    <section>
      <article>

      {{ content }}

        <nav>
          <a href="#rebel">&#9762</a>
          <a class="iconA" href="mailto:kreider1997@att.net?subject=Cut%20the%20chatter%20Red%205">&#9993</a>
          <a class="iconA" href="tel:+14078105933">&#9743</a>
          <a class="time" href="#">A long time ago</a>
        </nav>
      </article>
    </section>
  </div> <!--end container-->
  <footer>
    <nav><a href="http://theironyard.com"><img src="/Images/IronYard.png"></a></nav>
    <p id="footA">Keith Kreider</p>
    <p>Front End Developer creating the light side from dark matter</p>
    <div id="footLink">
      <a href="mailto:kreider1997@att.net?subject=Cut%20the%20chatter%20Red%205">&#9993 kreider1997@att.net</a>
      <a href="tel:+14078105933">&#9743 407-810-5933</a>
    </div>
  </footer>
  </body>
</html>
